bison
cairo
dylibbundler
extractpdfmark
fontconfig
fontforge
freetype
fribidi
ghostscript
giflib
gobject-introspection
graphite2
guile@1.8.8
harfbuzz
jpeg
jq
libpng
libspiro
libtiff
libuninameslist
lilypond
little-cms2
lzo
nspr
nss
oniguruma
openjpeg
pango
poppler-cpp
t1utils
texinfo
